* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e9e0e0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-image: url(./images/background.jpg);
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-family:"Permanent Marker",Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 40px;
    opacity: 97%;
   
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 95%;
}

.logo-container h1 {
    margin-left: 10px;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

nav ul li {
    margin: 0 15px;
    align-items: end;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li:hover a {
    color: #e60023;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    gap: 0.5rem;
    padding-top: 1rem;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
    transition: transform 0.2s;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 100%;
    height: auto;
}

.product-info {
    padding: 15px;
}

.product-info h4 {
    margin: 10px 0;
    font-size: 1.2em;
}

.product-info p {
    margin: 10px 0;
}

.price {
    font-weight: bold;
    color: #e60023;
}

.btn {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    margin: 5px;
    text-transform: uppercase;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #e60023;
}
.btn a  {
    text-decoration: none;
    color: #e9e0e0;
}

#swift {
    height: 171px;
    width: 311px;
}

.sub-footer {
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
    padding: 20px;
    font-family: Arial, sans-serif;
    border-top: 1px solid #ddd;
    width: 100%;
}

.locations {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.sections {
  justify-content: space-evenly;
    margin: 0 10px;
}

.sections h4.ul1 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.sections ul {
    list-style-type: none;
    padding: 0;
}

.sections ul li {
    margin-bottom: 5px;
    color: #555;
}

.sections ul li a {
    text-decoration: none;
    color: inherit;
}

.sections ul li a:hover {
    text-decoration: underline;
}

.sections img {
    display: block;
    margin-top: 10px;
}
.button-container {
    background-image: url(./images/background.jpg);
    background-color: #e9e0e0;
    border: none;
    color: #fff;
    padding-top: 10px;
    padding-left: initial;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 20px;
}
button.app:hover {
    background-color: #e60023;
    transition: 0.10s;
}
button.app {
    font-size: 30px;
    border:solid 1px wheat;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 10px;
    background-color: #333;
    color:white;
    cursor: pointer;
    cursor: pointer;

}
